[submodule "nccl/nccl"]
	path = nccl/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "nccl/nccl-tests"]
	path = nccl/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
[submodule "nvbench/nvbench"]
	path = nvbench/nvbench
	url = https://github.com/NVIDIA/nvbench.git
