build --flag_alias=cuda_archs=@rules_cuda//cuda:archs
build --flag_alias=cuda_compiler=@rules_cuda//cuda:compiler

build --spawn_strategy local

build:clang --repo_env=CC=clang
build:clang --copt=-std=c++17
build:clang --cuda_compiler=clang
